# Python related
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.pytest_cache/
.coverage
.coverage.*
.mypy_cache/
.dmypy.json
dmypy.json
.pytype/
cython_debug/

# Virtual Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE specific
.vscode/
.spyderproject
.spyproject
.ropeproject
#.idea/  # Uncomment if you want to ignore PyCharm files

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/

# Testing and documentation
htmlcov/
.tox/
.nox/
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
cover/
docs/
cline_docs/
/site

# Logs and local configs
logs/
*.log
config.local.py
settings.local.py
pip-log.txt
pip-delete-this-directory.txt

# TypeScript/Node specific
node_modules/
typescript/dist/**/*
typescript/*.d.ts
typescript/*.tgz
typescript/coverage/**/*
!typescript/jest.config.js
.package-lock.json

# Project specific
Outline/
*.txt
*.mermaid
examples/chat-demo-app/cdk.out
examples/chat-demo-app/lib/**/*.js
examples/chat-demo-app/bin/*.js
!examples/lambda/url_rewrite/*.js
examples/resources/ui/public/aws-exports.json
examples/resources/ui/dist
examples/text-2-structured-output/venv
examples/local-demo/.env
*aws-exports.json
!download.js

# OS specific
.DS_Store

# AWS
.aws/